@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
}


body,
html {
   height: 100%;
}

main {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   border: 1px solid black;
   width: 46rem;
   height: 450px;
   padding: 8px;
}
/* main */

/* habit */
.habit__container {
   flex: 2 1 auto;
   padding: 0 8px;
   border: 1px solid black;
   height: 100%;
}

.add__habit{
   display: flex;
   justify-content: space-between;
   padding: 8px;
}

.add__habit input {
   width: calc(100% - 3rem);
   padding: 4px 8px;
   border-radius: 6px;
   font-size: 1rem;
   border: 2px solid black;
}

.add__habit input:focus {
   outline: none;
}

.add__habit img {
   width: 2rem;
   cursor: pointer;
   transition: 0.3s;
}

.add__habit img:hover{
   transform: scale(1.2);
}

.habit{
   display: flex;
   justify-content: space-between;
   padding: 8px;
   border: 1px solid black;
   margin: 6px 0;
}

.habit__details {
   display: flex;
   flex-direction: column;
}

.habit__details > span {
   font-size: 1.2rem;
}

.habit__details h5 {
   font-weight: bold;
}

.habit__btns{
   min-width: 30%;
   width: 100px;
}

.habit__btns button{
   /* padding: 3px 6px; */
}

/* logs */
.log__container {
   padding: 6px 5px;
   flex: 1 1 100px;
}

.log__container h4 {
   font-size: 1.2rem;
}

.logs{
   border: 1px solid black;
   height: calc(100% - 25px);
}