@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
}


body,
html {
   height: 100%;
}

main {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   border: 1px solid black;
   width: 46rem;
   height: 450px;
}
/* main */

/* habit */
.habit__container {
   flex: 2 1 auto;
   padding: 0 8px;
}

.add__habit{
   display: flex;
   justify-content: space-between;
   padding: 8px;
}

.add__habit input {
   width: 90%;
}

.add__habit img {
   border: 2px solid black;
}

.habit{
   display: flex;
   justify-content: space-between;
   padding: 8px;
   border: 1px solid black;
}

.habit__details {
   display: flex;
   flex-direction: column;
}

/* logs */
.log__container {
   padding: 6px 5px;
   border: 2px solid green;
   flex: 1 1 100px;
}

.log__container h4 {
   font-size: 1.2rem;
}

.logs{
   border: 1px solid black;
   height: 100%;
}